button {
    border: none;
    background: none;
    height: 60px;
}

button:hover {
    background: rgba(38, 1, 1, 0.523);
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#editor {
    margin: 40px auto;
    height: 500px;
    max-width: 1000px;
    border: 1px solid #000000;
    padding: 8px;
}